.App {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.order-wrap {
  text-align: start;
  position: relative;
  width: 400px;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 20px;
}

.order-title {
  position: absolute;
  top: -42px;
  left: 40px;
  padding: 10px;
  background: white;
}

.items-wrap {
  position: relative;
  border: 3px solid grey;
  border-radius: 5px;
  width: 490px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}

.item-title {
  position: absolute;
  top: -42px;
  left: 40px;
  padding: 10px;
  background: white;
}

.item-img {
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: .2em .2em 0.3em #333;
  margin: 0 20px;
}

.item-choose {
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

.total-price {
  color: red;
  font-weight: bold;
  text-align: right;
}

.no-price {
  display: flex;
  margin: 0;
  font-weight: bold;
  justify-content: center;
  color: red;
}

.remove-btn {
  background: transparent;
  border: 2px solid lightgreen;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 5px;
}